/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {
    
    .scroll-pane > .viewport {
   -fx-background-color: transparent;
}

.scroll-pane {
   -fx-background-color: transparent;
}

.list-view {
    -fx-background-color: transparent;
}

}
